.player {
  background: yellow;
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .round {
    border-radius: 50%;
    background: white;
    width: 25px;
    height: 25px;
  }
}